section.parallax-parent--bg
  .parallax.parallax-img.position-relative
    .parallax-display
      img(src="assets/logo-noname.svg", alt="Logo Clean House" width='300px')
      h1.header1.set-color--blueeco.set-text--shadow.set-size--giant.text-center
        | Clean<span class='set-color--green'>House</span>
      h2.header2.set-color--white.set-text--shadow.text-center  Sanitização e lavagem a seco

section.ecoexpress.py-4.page-section
  .container#produto
    .bike-bg
      .row
        .col-md-12
          h2.header2.size-headers--large.color-master.text-center 
            a.context-menu() Porque Escolher a CleanHouse?
        .col-md-4.text-center
          img(src='assets/maquina.png' alt='')
        .col-md-8
          h3.header3.size-headers--medium.color-gray 
            | Tecnologia única que remove até 99%  dos inimigos invisíveis.
            br
          p.set-size--lg Nosso processo, diferente das empresas de lavagem comum, limpa profundamente a parte interna do seu estofado.
          p.text-justify.color-gray  Utilizamos um equipamento Americano de alta potência e sucção com capacidade de limpeza até 30cm de profundidade das espumas e almofadas do estofado. Todos os resíduos aspirados ficam retidos no filtro de água não retornando ao ambiente, purificando o ar enquanto realizamos a limpeza.
          p Normalmente as <b>demais empresas realizam uma lavagem comum e superficial.</b>
          p Os ácaros são mortos pois são utilizados produtos bactericidas e fungicidas, porém uma extratora comum não possui capacidade de sucção para removê-los e eles permanecem agarrados nas fibras do tecido.
          p Após um tempo partes dos corpos dos ácaros mortos se ressecam virando carcaças que se soltam das fibras do tecido. Estas misturam-se com a poeira e são inalados ao respirar, causando alergias e doenças respiratórias.

section.servicos.py-4.page-section
  .container#servicos
    .row
      .col-md-12
        h2.text-center.header2.size-headers--large.color-master
          a.context-menu() 
            strong Tipos de serviços
      .col-md-6
        h3.text-center HIGIENIZAÇÃO PROFUNDA A SECO: Indicado para estofados sem manchas, encardidos do tempo/uso ou odores.
        .text-center
          img.img-circle(src="assets/sem-agua.png", alt="Sem agua" width="100px")
        p.color-gray Aspiração profunda com equipamento Rainbow® atingindo até 30cm para dentro do estofado remove ácaros vivos e suas fezes, carcaças de ácaros mortos, fungos, bactérias, poeiras, pele morta e sujidades, não removendo manchas e odores. 
        p.color-gray A trepidação da escova elétrica do Rainbow® faz com que os ácaros se soltem da trama do tecido sendo então aspirados pelo equipamento. Todos os resíduos aspirados pelo equipamento Rainbow® ficam retidos no filtro de água não retornando ao ambiente.
        p.color-gray O ar do ambiente é purificado enquanto realizamos a limpeza.
      .col-md-6
        h3.text-center LAVAGEM COMPLETA: Indicado para estofados com manchas, encardidos do tempo/uso ou odores.
        .text-center
          img.img-circle(src="assets/com-agua.png", alt="Com agua" width="100px")
        P.color-gray Removendo as manchas e os mofos mais profundos. Deixando seu estofado novo de novo!
        p.color-gray É a combinação do processo de higienização profunda a seco e a lavagem com escovação e produtos bactericidas e fungicidas
        p.color-gray A combinação destes dois processos garantem que seu estofado ficará limpo não só por fora mas também por dentro
    .row
      .col-md-12
        h3.text-center.my-1 Pacotes
      .col-md-6
        .jumbotron
          h3 PACOTE HIGIENIZAÇÃO RESIDENCIAL 1
          p.color-gray Incluso neste pacote a higienização dos itens:
          ul
            li  2 colchões  
            li  travesseiros e almofadas (todos) 
            li  pelúcias (todos) 
            li  1 sofá 
            li  2 tapetes de até 4 m² 
          .set-size--xxl.text-center
            .label.label-success  R$ 350,00
      .col-md-6
        .jumbotron
          h3 PACOTE HIGIENIZAÇÃO RESIDENCIAL 2
          p.color-gray Incluso neste pacote a higienização dos itens:
          ul
            li  4 colchões  
            li  travesseiros e almofadas (todos) 
            li  pelúcias (todos) 
            li  2 sofá 
            li  4 tapetes de até 4 m²
          .set-size--xxl.text-center
            .label.label-success  R$ 600,00
      .col-md-12
        .jumbotron.text-center
          p <b>OBS:</b> Os itens constantes do pacote podem ser alterados conforme sua necessidade (fale com nosso consultor)
    .row
      .col-md-12
        h2.text-center.header2.size-headers--large.color-master
          a.context-menu() 
            strong Sanitização de Ambientes
        p A <b>Sanitização</b> é extremamente eficaz contra bactérias, fungos e vírus, inclusive o <b>COVID-19</b>. É um processo de desinfecção de ambientes e superfícies, eliminando e impedindo a proliferação de micro-organismos prejudiciais à saúde e evitando novas contaminações.
        p O produto é aplicado por uma equipe profissional, utilizando, nebulizador e equipamentos de proteção individual adequados. O método utilizado forma uma fina névoa que se adere aos locais aplicados.
        p Utilizamos um equipamento elétrico de dispersão de névoa de 23 micra, tamanho ideal para melhor cobertura do ambiente, sem provocar molhamento da área.
        p É importante ressaltar que a <b>SANITIZAÇÃO</b> precisa ser complementada com a limpeza e desinfecção de armas de manuseio constante, por exemplo, as maçanetas, puxadores de armários, eletrodomésticos, etc. Pois o trânsito de pessoas no local já pode provocar a nova contaminação do ambiente.
    .row
      .col-md-12
        h2.text-center.header2.size-headers--large.color-master
          a.context-menu() 
            strong Sanitização por Nebulização
        p A Nebulização transforma o produto em micropartículas que se dissipa no ar e se espalha por todo ambiente, criando película protetora, que extermina os vírus, bactérias e germes e ainda protege seu ambiente de novas contaminações.
      .col-md-6
        .animation-element.slide-left
          img.img-responsive(src="assets/neb1.jpg", alt="")
      .col-md-6
        .animation-element.slide-left
          img.img-responsive(src="assets/neb2.jpg", alt="")
      .col-md-12
        h3.text-center Aplicamos a Sanitização em:⁣⁣
        ul.list-unstyled.list-inline.text-center.py-2
          li.text-center
            img(src="assets/icons/real-estate.svg", alt="" width='35px')  
            <br/>
            | Residências⁣⁣
          li.text-center
            img(src="assets/icons/cond.svg", alt="" width='35px')  
            <br/>
            | Prédios e Condomínios⁣⁣
          li.text-center
            img(src="assets/icons/cadeira.svg", alt="" width='35px')
            <br/>  
            | Escritórios⁣⁣
          li.text-center
            img(src="assets/icons/consultorios.svg", alt="" width='35px')
            <br/>  
            | Consultórios⁣⁣
          li.text-center
            img(src="assets/icons/school.svg", alt="" width='35px')
            <br/>  
            | Escolas⁣⁣
          li.text-center
            img(src="assets/icons/gym.svg", alt="" width='35px')
            <br/>  
            | Academias⁣⁣
          li.text-center
            img(src="assets/icons/hospital.svg", alt="" width='35px')
            <br/>  
            | Hospitais⁣⁣
          li.text-center
            img(src="assets/icons/fork.svg", alt="" width='35px')
            <br/>  
            | Restaurantes⁣⁣
          li.text-center
            img(src="assets/icons/pickup-car.svg", alt="" width='35px')
            <br/>  
            | Carros⁣⁣
          li.text-center
            img(src="assets/icons/shopping.svg", alt="" width='35px')
            <br/>  
            | Shopping⁣⁣
        h3.text-center E todo tipo de ambiente que necessite ficar seguro

section.py-4.set-bgcolor--dark
  .container-fluid
    .row.py-1
      .col-md-3
        .embed-responsive.embed-responsive-16by9
          iframe(src='https://www.youtube.com/embed/giQMnZnQNpk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
      .col-md-3
        .embed-responsive.embed-responsive-16by9
          iframe(src='https://www.youtube.com/embed/ZmIvCeAPcjI', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
      .col-md-3
        .embed-responsive.embed-responsive-16by9
          iframe(src='https://www.youtube.com/embed/iFrrIL10s0I', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
      .col-md-3
        .embed-responsive.embed-responsive-16by9
          iframe(src='https://www.youtube.com/embed/ZIdp4TXUUjg', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    .row.py-1
      .col-md-3
        .embed-responsive.embed-responsive-16by9
          iframe(src='https://www.youtube.com/embed/n_X0ChBFsw0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
      .col-md-3
        .embed-responsive.embed-responsive-16by9
          iframe(src='https://www.youtube.com/embed/gTkI6h_mmNM', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
      .col-md-3
        .embed-responsive.embed-responsive-16by9
          iframe(src='https://www.youtube.com/embed/67Rq1DmIl4U', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
      .col-md-3
        .embed-responsive.embed-responsive-16by9
          iframe(src='https://www.youtube.com/embed/JljRcPgowTU', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

section
  .pt-2
    h2.text-center.header2.set-size--xxgiant.color-master Clean<span class='set-color--green'>House</span>
  p.text-center.set-size--xl.set-color--lighgray2.py-2 Viva sua vida livre dos inimigos invisíveis. Somos uma Empresa em Defesa da Saúde.

  .d-flex
    .item
      img.img-responsive(src="assets/propaganda/1.jpg", alt="sofá limpo")
    .item
      img.img-responsive(src="assets/propaganda/2.jpg", alt="sofá limpo")
    .item
      img.img-responsive(src="assets/propaganda/4.jpg", alt="sofá limpo")
    .item
      img.img-responsive(src="assets/propaganda/3.jpg", alt="sofá limpo")
    .item
      img.img-responsive(src="assets/propaganda/5.jpg", alt="sofá limpo")
  .d-flex
    .item
      img.img-responsive(src="assets/propaganda/6.jpg", alt="sofá limpo")
    .item
      img.img-responsive(src="assets/propaganda/7.jpg", alt="sofá limpo")
    .item
      img.img-responsive(src="assets/propaganda/9.jpg", alt="sofá limpo")
    .item
      img.img-responsive(src="assets/propaganda/10.jpg", alt="sofá limpo")
    .item
      img.img-responsive(src="assets/propaganda/8.jpg", alt="sofá limpo")

section.parallax-parent--bg
  .parallax.parallax-img--2.position-relative
    .parallax-display
      img(src="assets/logo-noname.svg", alt="Logo Clean House" width='300px')
      h1.header1.set-color--white.set-text--shadow.text-center Viva sua vida livre dos inimigos invisíveis.

section.py-4.page-section
  .container-fluid#especialidades
    .row 
      .col-md-12
        h2.text-center.header2.size-headers--large.color-master
          a.context-menu()
            strong Especialidades
        p.text-center.set-size--xxl.set-color--lighgray2 Serviços de Higienização e Limpeza 
      .col-md-2
        .box.text-center.animation-element.slide-left
          img.img-responsive.img-thumbnail(src="assets/servicos-p/sofa.jpg", alt="Sofa")
          h3.set-color--lighgray2 Higienização e lavagem de sofás
      .col-md-2
        .box.text-center.animation-element.slide-left
          img.img-responsive.img-thumbnail(src="assets/servicos-p/poltrona.jpg", alt="Poltrona")
          h3.set-color--lighgray2 Higienização e lavagem de poltronas
      .col-md-2
        .box.text-center.animation-element.slide-left
          img.img-responsive.img-thumbnail(src="assets/servicos-p/cadeira.jpg", alt="Cadeira")
          h3.set-color--lighgray2 Higienização e lavagem de cadeiras
      .col-md-2
        .box.text-center.animation-element.slide-left
          img.img-responsive.img-thumbnail(src="assets/servicos-p/carro.jpg", alt="Carro")
          h3.set-color--lighgray2 Higienização e lavagem de bancos de carros
      .col-md-2
        .box.text-center.animation-element.slide-left
          img.img-responsive.img-thumbnail(src="assets/servicos-p/bed.jpg", alt="Colchao")
          h3.set-color--lighgray2 Higienização e lavagem de colchões
      .col-md-2
        .box.text-center.animation-element.slide-left
          img.img-responsive.img-thumbnail(src="assets/servicos-p/carpet.jpg", alt="Tapete")
          h3.set-color--lighgray2 Higienização de tapetes e carpetes
    .row 
      .col-md-12
        p.text-center.set-size--xxl.set-color--lighgray2 Serviços de Sanitização
      .col-md-2
        .box.text-center.animation-element.slide-left
          img.img-responsive.img-thumbnail(src="assets/sanitizacao/auditorio.jpg", alt="Auditório")
          h3.set-color--lighgray2 Sanitização autitórios
      .col-md-2
        .box.text-center.animation-element.slide-left
          img.img-responsive.img-thumbnail(src="assets/sanitizacao/banheiro.jpg", alt="Banheiros")
          h3.set-color--lighgray2 Sanitização banheiros
      .col-md-2
        .box.text-center.animation-element.slide-left
          img.img-responsive.img-thumbnail(src="assets/sanitizacao/consultorio.jpg", alt="Consultório")
          h3.set-color--lighgray2 Sanitização consultórios
      .col-md-2
        .box.text-center.animation-element.slide-left
          img.img-responsive.img-thumbnail(src="assets/sanitizacao/hospitalar.jpg", alt="Hospitalar")
          h3.set-color--lighgray2 Sanitização Hospitalar
      .col-md-2
        .box.text-center.animation-element.slide-left
          img.img-responsive.img-thumbnail(src="assets/sanitizacao/loja.jpg", alt="Loja")
          h3.set-color--lighgray2 Sanitização Lojas
      .col-md-2
        .box.text-center.animation-element.slide-left
          img.img-responsive.img-thumbnail(src="assets/sanitizacao/residencial.jpg", alt="Residencial")
          h3.set-color--lighgray2 Sanitização Residenciais
section.contatos.set-bgcolor--dark.py-4.page-section
  .container#contatos
    .row
      .col-md-12
        h2.text-center.header2.size-headers--large.color-white: strong Entre em Contato
        //- .text-center
        //-   img(src='assets/logo.svg' alt='Logo Rodapé' width="150px")
      .col-md-12
        h3.color-white.text-center.my-2 Realizamos orçamento sem compromisso. Atendemos em todo Distrito Federal
        .text-center.my-2 
          p.color-white Residencias /Domicílio
          p.color-white Empresas e Escritórios
          p.color-white Hospitais, Clínicas e Hotéis.
        form(action='https://formmail.kinghost.net/formmail.cgi', method='POST')
          input(type='hidden', name='recipient', value='contato@cleanhouse.eco.br')
          input(type='hidden', name='redirect', value='https://cleanhouse.eco.br/resposta.html')
          input(type='hidden', name='subject', value='teste de assunto')
          input(type='hidden', name='email', value='viruzvz@gmail.com')
          .row
            .col-md-6
              .form-group.input-color-dark
                input.form-control.input-lg(type='text', placeholder='Nome', name='nome')
            .col-md-6
              .form-group.input-color-dark
                input.form-control.input-lg(type='email', placeholder='E-mail' name='replyto')
            .col-md-12
              .form-group.input-color-dark
                textarea.form-control.input-lg(rows='3' placeholder='Mensagem' name='Comentarios')
              .form-group.text-center
                button.btn.btn-success.btn-lg(type='submit' name="BTEnvia" value="Enviar") Enviar
              .form-group.text-center
                p.set-color--white A CleanHouse está nas redes sociais. Segue a gente!
                p.set-color--white 
                  small Lá você também pode acompanhar nossos serviços e ficar por dentro de todas a novidades e promoções.
                ul.list-unstyled.list-inline
                  li
                    a(href='https://www.facebook.com/cleanhousedf' target='_blank')
                      img(src='assets/icon-facebook-circle.svg' alt='Facebook' width='35px')
                  li
                    a(href='https://www.instagram.com/cleanhousedf/?hl=pt-br' target='_blank')
                      img(src='assets/icon-instagram-circle.svg' alt='Instagram' width='35px')
.whatsapp.position-fixed.bottom.right
  a(href='https://wa.me/5561991141213' target='_blank')
    img(src='assets/whatsapp-circle.svg' width='80px')
