//- footer.footer.py-2
//-   .container
//-     .row
//-       .col-md-4
//-       .col-md-4.text-center
//-         img(src='assets/logo.svg' alt='Logo Rodapé' width="150px")
//-       .col-md-4
.sub-footer
  .container
    .row
      .col-md-2

      .col-md-8.text-center
        small © Copyright 2020 - Todos os direitos reservados 
          a(href='#') http://www.cleanhouse.com.br
      .col-md-2.text-right
        small 
          | Designed by 
          a(href='http://www.carlosvz.com') carlosvz
