.menu.sticky
  nav.navbar.nav-eco
    .container
      .navbar-header
        .navbar-brand
          a(href='#')
            img(src="assets/logo-noname.svg", alt="Logo Clean House" width='35px')
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #navbar.collapse.navbar-collapse.navigation
        ul.nav.navbar-nav
          li.nav-item
            a.links-ecoexpress(href='#') 
              strong HOME
          li.nav-item
            a.links-ecoexpress(href='#produto') 
              strong TECNOLOGIA
          li.nav-item
            a.links-ecoexpress(href='#servicos') 
              strong TIPOS DE SERVIÇOS
          li.nav-item
            a.links-ecoexpress(href='#especialidades') 
              strong ESPECIALIDADES
          li.nav-item
            a.links-ecoexpress(href='#contatos') 
              strong CONTATOS
        .pull-right.timer
          |  De segunda a sexta 08h00 às 17h00
      // /.nav-collapse