doctype html  
html(lang='pt')  
  head
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='Clean House', content='Higienização e Lavagem à seco')
    meta(name='google', content='notranslate')
    meta(name='keywords', content='Lavagem de sofá a seco, Higienização de estofados, Limpeza e Higienização, Higienização de carro, Higienização de sofa, Higienização de veículos, Higienização Automotiva, Higienização Banco carro, Higienização banco automotivos, Higienização carpete, Higienização colchoão, Higienização de automoveis, Higienização de autos, Higienização de carpete automotivo, Higienização de carpete de carros, Higienização de interiores de carros, Higienização de tapetes, higienização interior de veículos, higienização interna de veículos, higienização de sofá, higienização cortinas, higienização poltronas, higienização travesseiros, higienização Bebe conforto, higienização carrinho de bebe, higienização caminha de pet, lava estofado a seco, lava tapeta a seco, lavagem a seco de sofa, lavagem a seco de colchão, lavagem de cadeiras a seco, lavagem poltrona, lavagem de sofa a seco em casa, lavagem de sofa a seco em domicilio, lavagem a seco de tapetes, lavagem a seco de cadeiras, lavagem a seco de poltronas, lavagem a seco de travesseiro, lavagem a seco de bebe conforto, lavagem a seco de automotivo, lavagem a seco de carro, lavagem a seco de carpete, lavagem a seco de banco carro, Serviços de higienização e limpeza, Higienização e Limpeza Residencial, Higienização e Limpeza Hotel, Higienização e Limpeza Escritório, Higienização e Limpeza Empresarial, Higienização e Limpeza Comercial, Sanatização,')
    link(rel="shortcut icon" href="assets/cropped-symbol-32x32.png" sizes="32x32")
    link(rel="shortcut icon" href="assets/cropped-symbol-192x192.png" sizes="192x192")
    link(rel="shortcut icon" href="assets/cropped-symbol-180x180.png" sizes="180x180")
    title Clean House | Higienização e Lavagem à seco
  body
    #fb-root
    block header
      include partials/header.pug
    block content
      include partials/content.pug
    block footer
      include partials/footer.pug 