doctype html  
html(lang='pt')  
  head
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='Clean House', content='Higienização e Lavagem à seco')
    meta(name='google', content='notranslate')
    meta(name='keywords', content='Lavagem de sofá a seco, Higienização de estofados, Limpeza e Higienização, Higienização de carro, Higienização de sofa, Higienização de veículos, Higienização Automotiva, Higienização Banco carro, Higienização banco automotivos, Higienização carpete, Higienização colchoão, Higienização de automoveis, Higienização de autos, Higienização de carpete automotivo, Higienização de carpete de carros, Higienização de interiores de carros, Higienização de tapetes, higienização interior de veículos, higienização interna de veículos, higienização de sofá, higienização cortinas, higienização poltronas, higienização travesseiros, higienização Bebe conforto, higienização carrinho de bebe, higienização caminha de pet, lava estofado a seco, lava tapeta a seco, lavagem a seco de sofa, lavagem a seco de colchão, lavagem de cadeiras a seco, lavagem poltrona, lavagem de sofa a seco em casa, lavagem de sofa a seco em domicilio, lavagem a seco de tapetes, lavagem a seco de cadeiras, lavagem a seco de poltronas, lavagem a seco de travesseiro, lavagem a seco de bebe conforto, lavagem a seco de automotivo, lavagem a seco de carro, lavagem a seco de carpete, lavagem a seco de banco carro, Serviços de higienização e limpeza, Higienização e Limpeza Residencial, Higienização e Limpeza Hotel, Higienização e Limpeza Escritório, Higienização e Limpeza Empresarial, Higienização e Limpeza Comercial, Sanatização,')
    link(rel="shortcut icon" href="assets/cropped-symbol-32x32.png" sizes="32x32")
    link(rel="shortcut icon" href="assets/cropped-symbol-192x192.png" sizes="192x192")
    link(rel="shortcut icon" href="assets/cropped-symbol-180x180.png" sizes="180x180")
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NDB43LK');
    title Clean House | Higienização e Lavagem à seco
  body
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-NDB43LK', height='0', width='0', style='display:none;visibility:hidden')
    #fb-root
    section.contatos.set-bgcolor--dark.py-4.page-section
      .container#contatos
        .row
          .col-md-12
            h2.text-center.header2.size-headers--large.color-white: strong Mensagem enviada com Sucesso
            .text-center
              img(src='assets/logo.svg' alt='Logo Rodapé' width="150px")
          .col-md-12.text-center
            h3.color-white.text-center.my-2 Recebemos sua mensagem e logo entraremos em contato. Obrigado.
            p.set-color--white A CleanHouse está nas redes sociais. Segue a gente!
            p.set-color--white 
              small Lá você também pode acompanhar nossos serviços e ficar por dentro de todas a novidades e promoções.
            ul.list-unstyled.list-inline
              li
                a(href='https://www.facebook.com/cleanhousedf' target='_blank')
                  img(src='assets/icon-facebook-circle.svg' alt='Facebook' width='35px')
              li
                a(href='https://www.instagram.com/cleanhousedf/?hl=pt-br' target='_blank')
                  img(src='assets/icon-instagram-circle.svg' alt='Instagram' width='35px')
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-173131590-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-173131590-1');
    // End Google Tag Manager
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-NDB43LK', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)
